<md-card *ngIf="event">
  <md-card-header>{{event.name}}</md-card-header>
  <md-card-content>
    <div>
      <label>Дата начала: </label>{{event.dateStart}}
    </div>
    <div>
      <label>Дата завершения: </label>{{event.dateFinish}}
    </div>
    <div>
      <md-input [(ngModel)]="event.name" placeholder="Название"></md-input>
    </div>
    <button md-raised-button color="warn" (click)="goBack()">Изменить</button>
    <button md-raised-button color="primary" (click)="save()">Сохранить</button>
    <button md-raised-button color="accent" (click)="save()">Заполнить анкету</button>
  </md-card-content>
</md-card>
