<md-card style="margin: 25px">
  <md-card-header>Мероприятия</md-card-header>

  <md-card-content>
    <form>
      <md-input floatingPlaceholder=false #searchBox id="search-box" (keyup)="search(searchBox.value)" placeholder="Поиск"></md-input>
    </form>

    <md-nav-list dense>
      <md-list-item *ngFor="let event of events | async">
        <a md-line [routerLink]="['/detail', event.id]">{{event.name}}</a>
        Через&nbsp;2&nbsp;дня
      </md-list-item>
    </md-nav-list>

    <div class="error" *ngIf="error">{{error}}</div>

    <br>
    <button md-raised-button color="primary" routerLink="/event/create">Добавить мероприятие</button>
  </md-card-content>
</md-card>
